Repository BookStackApp/BookStack, pull requests merged in 2023-10, with the labels that each got.

#4604 Editor design update
  lang/en/entities.php
  resources/js/components/editor-toolbox.js
  resources/sass/_blocks.scss
  resources/sass/_forms.scss
  resources/sass/_header.scss
  resources/sass/_pages.scss
  resources/sass/_tinymce.scss
  resources/views/pages/edit.blade.php
  resources/views/pages/parts/editor-toolbar.blade.php
  resources/views/pages/parts/editor-toolbox.blade.php
  resources/views/pages/parts/form.blade.php
  resources/views/pages/parts/markdown-editor.blade.php
Labels: :wrench: Maintenance, :art: Design, :massage: UX

#4615 User preferences/options cleanup
  app/Access/Controllers/SocialController.php
  app/Access/SocialAuthService.php
  app/Api/ApiDocsController.php
  app/Api/ApiToken.php
  app/Api/UserApiTokenController.php
  app/Users/Controllers/UserAccountController.php
  app/Users/Controllers/UserController.php
  app/Users/Controllers/UserPreferencesController.php
  lang/en/common.php
  lang/en/preferences.php
  lang/en/settings.php
  resources/icons/notifications.svg
  resources/icons/security.svg
  resources/views/entities/watch-controls.blade.php
  resources/views/layouts/parts/header-user-menu.blade.php
  resources/views/settings/layout.blade.php
  resources/views/users/account/auth.blade.php
  resources/views/users/account/delete.blade.php
  resources/views/users/account/layout.blade.php
  resources/views/users/account/notifications.blade.php
  resources/views/users/account/parts/shortcut-control.blade.php
  resources/views/users/account/profile.blade.php
  resources/views/users/account/shortcuts.blade.php
  resources/views/users/api-tokens/create.blade.php
  resources/views/users/api-tokens/delete.blade.php
  resources/views/users/api-tokens/edit.blade.php
  resources/views/users/api-tokens/parts/list.blade.php
  resources/views/users/delete.blade.php
  resources/views/users/edit.blade.php
  resources/views/users/parts/form.blade.php
  resources/views/users/preferences/index.blade.php
  resources/views/users/preferences/notifications.blade.php
  resources/views/users/preferences/shortcuts.blade.php
  routes/web.php
  tests/Actions/WebhookCallTest.php
  tests/Auth/SocialAuthTest.php
  tests/Permissions/RolePermissionsTest.php
  tests/Uploads/ImageTest.php
  tests/User/UserApiTokenTest.php
  tests/User/UserMyAccountTest.php
  tests/User/UserPreferencesTest.php
Labels: :hammer_and_wrench: Enhancement, :book: Docs Update, :massage: UX

#4618 Remove huntr from SECURITY.md
  .github/SECURITY.md
Labels: :wrench: Maintenance, :octocat: Admin/Meta
